spring:
  profiles:
    active:
     - dev
---
spring:
  profiles: dev
  application:
    name: microservicecloud-config-dev-9999
---
spring:
  profiles: test
  application:
    name: microservicecloud-config-test-999
